tbody#purchase_request_product_list,
tbody#purchase_request_details_list {
    img {
        max-width: 64px;
        max-height: 64px;
    }
    input.input_mx_70 {
        max-width: 70px;
        float: right;
    }
}
